/* 
General Styles
*/
* {
  color: rgb(255, 243, 243);
}

.naved {
  border-top: 1px solid #737088;
}

.nav-item {
  border-left: 1px solid #737088;
}

.more-options {
  border-right: 1px solid #737088;
}

.dropdown-item {
  background-color: black;
  padding: 0;
  color: gray;
}

Link:hover {
  background-color: #737088;
}

#navbarNavDropdown {
  color: white;
  /* border: black solid 2px; */
}

body {
    background-image: url("https://images.unsplash.com/photo-1593371256584-ac70d0ab43d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBzcGFjZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    color: white;
}

.card {
    margin-bottom: 20px;
    background-color: rgba(40,39,39,255);
    /* border: 1px solid whitesmoke; */
    color: white;
}

.card-body {
    border-top: solid 2px yellow;
}


.interactive-container {
  color: white;
}

/*CardDetail*/

.card-detail {
  max-width: 800px;
  max-height: 400px;
  margin-top: 20px;
  margin: auto;
}
.card-body-right {
  border-top: none;
  margin: auto;
}

.card-body-left {
  border-right: 2px solid yellow;
}


/*mixCards*/
.container-mixcard {
  width: 1050px;
  flex-wrap: wrap;
  /*  border: red solid 2px; */
  margin-top: 40px
}

.card-body-mix {
    border-top: solid 2px rgb(92, 92, 210);
}

.left-card {
  width: 50%;
/*   border:blue 2px solid; */
  height:100%;
  background-color: black;
}

.right-cards {
  width: 50%;
  flex-direction: column;
/*   border: solid red 2px; */
  margin-top: 20px;
}

.img-card {
/*   border: orange solid 2px; */
  height: 100px
}

.img {
  height: 100%;
  border-right: 2px solid rgb(92, 92, 210);
  margin-right: 15px;
}

/*Footer*/

footer .nav-item {
  border: none;
}
