/* General Styles */
* {
  color: rgb(214, 212, 212);
}

.tittle-views {
  color: #b0aebc;
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 5px 0;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px #737088 solid;
  border-left: none;
  border-right: none;
}

.sub-tittle-views {
  color: #b0aebc;
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 40px 0;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px yellow solid;
  border-left: none;
  border-right: none;
}

.tittle {
  margin: 20px 0;
  padding: 5px;
}


/*Navbar*/
.nav-color {
  background-color: #282727;
/*   border: 1px solid rgb(151, 149, 149);
  border-left: none;
  border-right: none;
  border-bottom: none; */
}

/* .naved {
  border-top: 1px solid #737088;
}
*/

.nav-item {
  border-left: 1px solid #737088;
}

.nav-item-dropdown {
  padding-top: 10px;
}

.more-options {
  border-right: 1px solid #737088;
} 

.dropdown-item {
  background-color: black;
  padding: 0;
  color: gray;
}

Link:hover {
  background-color: #737088;
}

#navbarNavDropdown {
  color: white;
  /* border: black solid 2px; */
}

/*Body*/

body {
    background-image: url("https://images.unsplash.com/photo-1593371256584-ac70d0ab43d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBzcGFjZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    color: white;
}

/*FilmCards*/

.film-card-container {
  margin: auto;
  border-radius: 20px;
  width: 1200px;
  height: 350px;
  margin-bottom: 40px;
}

.film-text {
  width: 70%;
  background: #282727;
  padding: 20px;
  text-align: left;
}

.film-img {
  width: 30%;
  border-left: 3px solid yellow;
}

.film-img > img {
  height: 100%;
  width: 100%;
}

.small-text {
  vertical-align: end;
  color: yellow;
}

/*Cards*/

.card {
    margin-bottom: 20px;
    background-color: rgba(40,39,39,255);
    /* border: 1px solid whitesmoke; */
    color: white;
}

.card-films {
  width: 100%;
  border: 2px solid red;
}

.card-body {
    border-top: solid 2px yellow;
}



/*CardDetail*/

.card-detail {
  max-width: 800px;
  max-height: 400px;
  margin-top: 20px;
  margin: auto;
}
.card-body-right {
  border-top: none;
  margin: auto;
}

.card-body-left {
  border-right: 3px solid yellow;
}


/*mixCards*/
.container-mixcard {
  width: 1050px;
  flex-wrap: wrap;
  /*  border: red solid 2px; */
  margin-top: 40px
}

.card-body-mix {
  border-top: solid 2px rgb(92, 92, 210);
}

.left-card {
  width: 50%;
  /*   border:blue 2px solid; */
  height:100%;
  background-color: black;
}

.right-cards {
  width: 50%;
  flex-direction: column;
  /*   border: solid red 2px; */
  margin-top: 20px;
}

.img-card {
  /*   border: orange solid 2px; */
  height: 100px
}

.img {
  height: 100%;
  border-right: 2px solid rgb(92, 92, 210);
  margin-right: 15px;
}

.link-img {
  width: 1100px;
  height: 500px;
}

/*topBar*/

.topbar {
  border: solid 1px gray;
  border-left: none;
  border-right: none;
  height: 60px;
  width: 1050px;
  margin: auto;
  vertical-align: middle;
}

.topbar-text {
  color: #b0aebc;
}

/*views*/

.small-counter {
    width: 10%;
    margin: 30px 15px;
    border: 1px solid rgb(161, 161, 82);
    border-left: none;
    border-right: none;
/*     border-bottom:none; */
    padding: 5px;
}



/*Interactive*/

.interactive-container {
  color: white;
}

.link-margin {
  margin: 60px 0;
}

/*Login page*/

.container-form {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.label {
  color: yellow;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.log-form {
  background: transparent;
  padding: 8px;
}

/*Pagination*/


.pagination {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background: transparent;
}

.pagination-nav {
  margin-top: 40px;
}



/*Footer*/

footer .nav-item {
  border: none;
}
